extends /_include/_layout
append variables
  - var directory ='/'
  - var imgPath = "./assets/img/"
block css
  //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css")
block js

block body
  main
    section.p-hero
      p.p-hero__subTitle Special feature
      h1.p-hero__title.u-mt10 ●●●●●の<br>求人特集
      p.p-hero__lead.u-mt15 ここに簡単なリード文が入ります。ここに簡単なリード文が入ります。ここに簡単なリード文が入ります。
      img.p-hero__img.u-mt15(src=`${imgPath}hero.png`, alt="")
      a.c-ctaButton.u-mt30
        p.c-ctaButton__sub かんたん登録3分
        p.c-ctaButton__main 転職サービスに申し込み
    section.p-attraction
      h2.c-heading ●●求人の3つの魅力
      ul.p-attraction__inner.u-mt80
        li.p-attraction__card.--v1
          span 1
          h3 IT‧Web業界を熟知した<br>転職のプロがあなたに最適な、<br>求⼈をご紹介！
          img(src=`${imgPath}attraction_1.jpg`, alt="")
          p IT‧WEBエンジニアの転職事情に詳しいキャリアドバイザーが、あなたのご経験やスキルをお伺いし、多くの求⼈の中から、最適な求⼈をご提案します。
        li.p-attraction__card.--v2
          span 2
          h3 エンジニア職の転職活動の<br>不安や悩みに寄り添う<br>キャリアアドバイザー
          img(src=`${imgPath}attraction_2.jpg`, alt="")
          p IT‧Web業界のエンジニア職の、転職事情熟知したキャリアアドバイザーがあなたの転職へ不安や悩みをお伺いいたします。
        li.p-attraction__card.--v3
          span 3
          h3 働きながらでも安⼼して<br>転職活動ができるよう<br>全⼒サポート
          img(src=`${imgPath}attraction_3.jpg`, alt="")
          p 応募書類の添削、⾯接スケジュール管理や⼊社⽇、条件等の企業への交渉を代⾏いたします。
    section.p-caseStudy
      h2.c-heading ご紹介実績企業例
      .p-caseStudy__inner
        .p-caseStudy__slider.--h70
          img(src=`${imgPath}logos_1.jpg`, alt="")
          img(src=`${imgPath}logos_1.jpg`, alt="")
        .p-caseStudy__slider.--h50
          img(src=`${imgPath}logos_2.jpg`, alt="")
          img(src=`${imgPath}logos_2.jpg`, alt="")
    section.p-jobOffer
      h2.c-heading ●●●●●の求人情報
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            include /_include/_jobOfferCard
          .swiper-slide
            include /_include/_jobOfferCard
          .swiper-slide
            include /_include/_jobOfferCard
        .swiper-pagination







